<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beginBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,1624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1624}}</string>
                <key>sourceSize</key>
                <string>{750,1624}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1624}}</string>
                <key>sourceSize</key>
                <string>{750,1624}</string>
            </dict>
            <key>enterBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1628},{550,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,146}}</string>
                <key>sourceSize</key>
                <string>{550,146}</string>
            </dict>
            <key>getItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1907},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>guafen.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1904},{136,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{136,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1776},{116,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{116,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1974},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1974},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1900},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1900},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1904},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1845},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>icon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1628},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>icon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1628},{274,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,274}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>icon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{344,344}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{344,344}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>newReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1776},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1904},{136,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{136,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1974},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pngList.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8434e9892953dd598c59983f3f699d$</string>
            <key>textureFileName</key>
            <string>pngList.png</string>
        </dict>
    </dict>
</plist>
